* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #F9FAF8;
    --darkBlue: #1F2937;
    --grey: #E5E7EB;
    --lightBlue: #3882F6;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.wrap{
    height: 100vh;
}
header,
.starter,
.mainOne{
    padding: 4rem 15rem; 
}

header{
    background-color: var(--darkBlue);
    height:5rem;
    justify-content: space-between;
    
}
header h3{
    color:var(--white);
    font-size: 2rem;
}
header,
header ul,
.starter,
.placeholderImage,
.wrap-textbox,
.mainOne,
.author,
.signBox,
.mainThree,
footer{
    display: flex;
}

header li{
    list-style: none;  
    padding: 0 1rem;
}
header a{
    text-decoration: none;
    color: var(--grey);
    font-weight: lighter;
}
.starter{
    background-color: var(--darkBlue);
    height: 40rem;
    justify-content: space-between;
    padding-top: 6rem;
}
.starter .title h1{
    color:var(--white)
}
.starter .title p{
    color:var(--grey);
    font-weight: lighter;
}
.title{
    width: 50%;
}
 button{
    background-color: var(--lightBlue);
    height: 3rem;
    width: 10rem;
    color: var(--white);
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
}
.placeholderImage{
    height: 25rem;
    width: 40%;
    background-color: grey;
    color: var(--white);
    justify-content: center;
    align-items: center;
}
.wrap-textbox{
    justify-items: center;
    align-items: center;
}
.mainOne{
    height: 40rem;
    flex-direction: column;
    align-items: center;
}
.mainOne h2{
    font-weight:bolder; 
}
.mainOne .box{
    height: 15rem;
    width: 15rem;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 4.5rem 0 0.5rem 3rem;
    justify-content: center;
}
.subtext p {
    text-align: center;
    margin-left: 3rem;
    font-size: large;
}
.mainTwo{
    height: 40rem;
    background-color: #eee;

}
.quote{
    width: 48%;
    margin: auto;
    padding-top: 9rem;
}
.quote .text{
    font-size: 30px;
}
.author{
    justify-content: right;
    font-weight: bold;
}
.mainThree{
    height: 36rem;
    justify-content: center;
}
.signBox{
    width: 55%;
    height: 15rem;
    background-color: var(--lightBlue);
    margin: 10rem;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
}
#signUpButton{
    border: 1px double white;
}   
footer{
    height: 10rem;
    color: white;
    background-color: var(--darkBlue);
    justify-content: center;
    align-items: center;
}

